<%= div_for(video, class: 'col-md-3 item-video') do %>
  <div class="thumbnail">
    <%= link_to(image_tag(video.thumb_image_path), video) %>
    <div class="caption">
      <strong><%= link_to(video.title, video) %></strong>
      <p><%= truncate(video.introduce, length: 30) %></p>
      <hr>
      <% video.girls.in_groups_of(4, false).each do |girls| %>
        <% girls.each do |girl| %>
          <span class="label label-danger"><%= link_to(girl.title, girl) %></span>
        <% end %>
        <div class="clearfix push-xs"></div>
      <% end %>
      <% video.tags.in_groups_of(4, false).each do |tags| %>
        <% tags.each do |tag| %>
          <span class="label label-primary"><%= link_to(tag.title, tag) %></span>
        <% end %>
        <div class="clearfix push-xs"></div>
      <% end %>
    </div>
  </div>
<% end %>