<div class="row">
  <div class="col-md-6">
    <%= link_to(new_admin_user_path, class: 'btn btn-default pull-right') do %>
      <%= fa_icon('plus') %> Add Member
    <% end %>
    <div class="clearfix"></div>
    <div class="push-xs"></div>

    <table class="table">
      <tr>
          <td>Email</td>
          <td>Nickname</td>
          <td width="40">Admin?</td>
          <td width="40"></td>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.nickname %></td>
          <td>
            <% if user.admin? %>
              <%= fa_icon('check') %>
            <% else %>
              <%= fa_icon('times') %>
            <% end %>
          </td>
          <td>
            <%= link_to('Edit', edit_admin_user_path(user), class: 'btn btn-xs btn-default') %>
          </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>